<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <title>React Template</title>
  <link href="/styles/styles.scss" rel="stylesheet"/>
</head>
<body>
  <div id="root" class="root"></div>
</body>
</html>
